<div id="content" class="site-content">
    <div id="primary" class="content-area"> 
        <main id="main" class="site-main" role="main">

            <article id="post-27" class="post-27 post type-post status-publish format-audio has-post-thumbnail hentry category-ideas category-news tag-tag2 tag-tag5 post_format-post-format-audio"> 
            <header class="entry-header clear">
                <h1 class="entry-title"><%= @post.title %></h1>
                <div class="entry-meta clear">
                <span class="posted-on">
                    <a href="http://demos.quadroideas.com/binderpro/2014/05/04/post-format-audio/" title="12:15 pm" rel="bookmark" >
                    <time class="entry-date published" datetime="2014-05-04T12:15:44+00:00"><%= @post.created_at.strftime("%B, %d, %Y") %> </time>
                    <time class="updated" datetime="2014-11-14T18:14:36+00:00">Nov 14, 2014</time></a>
                </span>
               
                <p class="cat-links">In <a href="http://demos.quadroideas.com/binderpro/category/ideas/" rel="category tag">Hotshop</a>, <a
                    href="http://demos.quadroideas.com/binderpro/category/news/" rel="category tag"><%= @post.category.name %></a>.
                </p>
                </div>
            </header>
            <div class="entry-thumbnail"> 
            <%= link_to image_tag(@post.image.url(:medium), :class => 'attachment-small-thumb wp-post-image')%>
            <!-- width="1400" height="480"-->
            </div>

            <div class="entry-content"> <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]--> 
           

            <p><%= @post.body %></p>
         

          
            <div class="sharedaddy sd-sharing-enabled">
                <div class="robots-nocontent sd-block sd-social sd-social-icon sd-sharing">
                    <h3 class="sd-title">Share this post</h3>
                    <%= social_share_button_tag(@post.title, :url => "http://128.199.206.209/posts/#{@post.id }") %>
                <di
            </div>
        </div>

        <div id='jp-relatedposts' class='jp-relatedposts' >
        </div>
    </div>

    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'blogkattilath';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

  
    </article>

    

    
    </main>
        </div>
                </div>


